@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: OpenSans,sans-serif,arial;
  font-size: .60em;
  letter-spacing: .060em;
  line-height: 18px;
  font-weight: 400;

  color: #ccc;
  background: rgb(18, 18, 18);
}

